# PHP & Database Env
APP_TIMEZONE=Asia/Jakarta
DB_HOST_CONFIG=database
DB_NAME_CONFIG=tkj_inventory
DB_USER_CONFIG=user_password_database
DB_PASS_CONFIG=secure_password_database
# reCAPTCHA v2
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
# Google Script For Backup
GOOGLE_SCRIPT_URL=
GOOGLE_SCRIPT_SECRET=
# Google Drive
GOOGLE_DRIVE_HISTORY_BACKUP_FOLDER_ID=
GOOGLE_DRIVE_STOCK_EXPORT_FOLDER_ID=
GOOGLE_DRIVE_ACCOUNTS_EXPORT_FOLDER_ID=
GOOGLE_DRIVE_AUTOBACKUP_FOLDER_ID=